#circle{
    width: 400px;
    height: 400px;
    position: absolute;
    background: rgb(200, 200, 100);
    border-radius: 200px;
    top: 50px;
    left: 50px;
    text-align: center;
    opacity: 0.5;
}

#circle2{
    width: 400px;
    height: 400px;
    position: absolute;
    background: rgba(200, 100, 200, 0.2);
    border-radius: 200px;
    top: 250px;
    left: 150px;
    text-align: center;

}

#circle3{
    width: 400px;
    height: 400px;
    position: absolute;
    background: rgba(100, 200, 200, 0.5);
    border-radius: 200px;
    top: 50px;
    left: 250px;

    text-align: center;
}